body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left: 40px;
}

nav {
    display: block;
    width: 660px;
  
}
a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
    font-size: 150%;
    white-space: nowrap;
}
.one ul {
    padding: 1.5em 0;
    background: #D4E7EE;
}

.one a {
    padding: 1em;
    border-right: 1px solid #b19891;
    background: rgba(173, 192, 206, .3);
    color: #29838C;
}

    .one a:hover {
        background: #ADC0CE;
    }

.one li {
    display: inline;

}

table {
    vertical-align: middle;
    text-align: left;
}

.header {
    font-weight: bold;
}

td {
    padding-right: 10px;
}

input {
    width: 150px;
}

.block1 {
    float: left;
}

.block2 {
    padding-left: 200px;
    padding-top: 35px;
}
